{{% load static %}

<!DOCTYPE html>
<html lang="en" vocab="http://schema.org/" typeof="WebPage">
<head>
  <meta charset="utf-8">
  <title property="name">{% block title %}Pollution Web{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar.css' %}">
</head>
<body>
  <nav class="navbar" typeof="SiteNavigationElement">
    <div class="logo">
        <img src="{% static 'images/icons/logo_plane.png' %}" alt="Logo" property="image">
    </div>
    <div class="nav-links">
        <a href="../#" property="url">Home</a>
        <div class="dropdown">
            <button id="transports_btn" class="dropbtn" property="name">Transports</button>
            <div class="dropdown-content">
                <a href="../plane" property="url">Plane</a>
                <a href="../boat" property="url">Boat</a>
                <a href="../train" property="url">Train</a>
                <a href="../subway" property="url">Subway</a>
                <a href="../car" property="url">Car</a>
                <a href="../motorbike" property="url">Motorbike</a>
            </div>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'calculate' %}" method="POST">
                {% csrf_token %}
                <button id="calculate_pollution" property="name">Calculate Pollution</button>
            </a>
            <a href="{% url 'results' %}" method="POST">
                {% csrf_token %}
                <button id="results" property="name">Your Space</button>
            </a>
        {% endif %}
    </div>
    <div id="div_login_logout">
        {% if user.is_authenticated %}
        <div class="logout">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button id="logout_btn" type="submit" property="url"><img id="image_logout" src="{% static 'images/icons/icon-logout.png' %}" alt="Logout"></button>
            </form>
        </div>
        {% else %}
        <div class="login">
            <a href="{% url 'login' %}" property="url"><img id="image_login" src="{% static 'images/icons/icon-user.png' %}" alt="Login"></a>
        </div>
        {% endif %}
    </div>
  </nav>
  <main property="mainContentOfPage">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
  </main>
  <footer property="footer" typeof="CreativeWork">
    <div class="copyright">
        <p>&copy; 2024 - All rights reserved</p>
    </div>
    <div class="footer-links">
        <a href="../#" property="url">Home</a>
        <a href="../#" property="url">Transports</a>
    </div>
  </footer>
</body>
</html>