{% extends "base.html" %}
{% load static %}

{% block title %}Calculate Pollution{% endblock %}

{% block content %}
<div class="trip-form-container">
    <div class="card mt-5 trip-form-card">
        <div class="card-body">
            <h2 class="card-title text-center">Trip Form</h2>
            <form class="trip-form" action="/save_trip" method="POST">
                {% csrf_token %}
                <label for="transport_type">Transport Type:</label><br>
                <select name="transport_type" id="transport_type">
                    <option value="plane" selected>Plane</option>
                    <option value="car">Car</option>
                    <option value="train">Train</option>
                    <option value="subway">Subway</option>
                    <option value="motorbike">Motorbike</option>
                    <option value="boat">Boat</option>
                </select><br><br>

                <div id="flight-details">
                    <label for="departure_point">Departure Airport (IATA code):</label><br>
                    <input type="text" id="dep_point" name="departure_point"><br><br>

                    <label for="arrival_point">Arrival Airport (IATA code):</label><br>
                    <input type="text" id="arr_point" name="arrival_point"><br><br>

                    <label for="passengers">Number of Passengers:</label><br>
                    <input type="number" id="passenger" name="passengers"><br><br>
                </div>

                <div id="car-details" style="display:none;">
                    <label for="distance">Distance Travelled (in kilometers):</label><br>
                    <input type="number" id="dist" name="distance"><br><br>

                    <label for="passengers">Number of Passengers:</label><br>
                    <input type="number" id="pss" name="passengers"><br><br>

                    <label for="vehicle_model">Vehicle Model:</label><br>
                    <input type="text" id="vehicle_model" name="vehicle_model"><br><br>
                </div>

                <div id="train-details" style="display:none;">
                    <label for="departure_point">Departure Station:</label><br>
                    <input type="text" id="depar_point" name="departure_point"><br><br>

                    <label for="arrival_point">Arrival Station:</label><br>
                    <input type="text" id="arriv_point" name="arrival_point"><br><br>

                    <label for="departure_time">Departure Time:</label><br>
                    <input type="time" id="departure_time" name="departure_time"><br><br>

                    <label for="arrival_time">Arrival Time:</label><br>
                    <input type="time" id="arrival_time" name="arrival_time"><br><br>

                    <label for="passengers">Number of Passengers:</label><br>
                    <input type="number" id="passeng" name="passengers"><br><br>
                </div>

                <div id="subway-details" style="display:none;">
                    <label for="departure_point">Departure Station:</label><br>
                    <input type="text" id="departur_point" name="departure_point"><br><br>

                    <label for="arrival_point">Arrival Station:</label><br>
                    <input type="text" id="a_point" name="arrival_point"><br><br>

                    <label for="passengers">Number of Passengers:</label><br>
                    <input type="number" id="pas" name="passengers"><br><br>
                </div>

                <div id="motorbike-details" style="display:none;">
                    <label for="distance">Distance Travelled (in kilometers):</label><br>
                    <input type="number" id="distance" name="distance"><br><br>

                    <label for="passengers">Number of Passengers:</label><br>
                    <input type="number" id="passenge" name="passengers"><br><br>
                </div>

                <div id="boat-details" style="display:none;">
                    <label for="departure_point">Departure Port:</label><br>
                    <input type="text" id="departure_point" name="departure_point"><br><br>

                    <label for="arrival_point">Arrival Port:</label><br>
                    <input type="text" id="arrival_point" name="arrival_point"><br><br>

                    <label for="passengers">Number of Passengers:</label><br>
                    <input type="number" id="passengers" name="passengers"><br><br>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Trip</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function setDefaultForm() {
        document.getElementById('flight-details').style.display = 'block';
        document.getElementById('car-details').style.display = 'none';
        document.getElementById('train-details').style.display = 'none';
        document.getElementById('subway-details').style.display = 'none';
        document.getElementById('motorbike-details').style.display = 'none';
        document.getElementById('boat-details').style.display = 'none';
    }

    window.onload = setDefaultForm;

    document.getElementById('transport_type').addEventListener('change', function() {
        var transportType = this.value;
        if (transportType === 'plane') {
            document.getElementById('flight-details').style.display = 'block';
            document.getElementById('car-details').style.display = 'none';
            document.getElementById('train-details').style.display = 'none';
            document.getElementById('subway-details').style.display = 'none';
            document.getElementById('motorbike-details').style.display = 'none';
            document.getElementById('boat-details').style.display = 'none';
        } else if (transportType === 'car') {
            document.getElementById('flight-details').style.display = 'none';
            document.getElementById('car-details').style.display = 'block';
            document.getElementById('train-details').style.display = 'none';
            document.getElementById('subway-details').style.display = 'none';
            document.getElementById('motorbike-details').style.display = 'none';
            document.getElementById('boat-details').style.display = 'none';
        } else if (transportType === 'train') {
            document.getElementById('flight-details').style.display = 'none';
            document.getElementById('car-details').style.display = 'none';
            document.getElementById('train-details').style.display = 'block';
            document.getElementById('subway-details').style.display = 'none';
            document.getElementById('motorbike-details').style.display = 'none';
            document.getElementById('boat-details').style.display = 'none';
        } else if (transportType === 'subway') {
            document.getElementById('flight-details').style.display = 'none';
            document.getElementById('car-details').style.display = 'none';
            document.getElementById('train-details').style.display = 'none';
            document.getElementById('subway-details').style.display = 'block';
            document.getElementById('motorbike-details').style.display = 'none';
            document.getElementById('boat-details').style.display = 'none';
        } else if (transportType === 'motorbike') {
            document.getElementById('flight-details').style.display = 'none';
            document.getElementById('car-details').style.display = 'none';
            document.getElementById('train-details').style.display = 'none';
            document.getElementById('subway-details').style.display = 'none';
            document.getElementById('motorbike-details').style.display = 'block';
            document.getElementById('boat-details').style.display = 'none';
        } else if (transportType === 'boat') {
            document.getElementById('flight-details').style.display = 'none';
            document.getElementById('car-details').style.display = 'none';
            document.getElementById('train-details').style.display = 'none';
            document.getElementById('subway-details').style.display = 'none';
            document.getElementById('motorbike-details').style.display = 'none';
            document.getElementById('boat-details').style.display = 'block';
        } else {
            document.getElementById('flight-details').style.display = 'none';
            document.getElementById('car-details').style.display = 'none';
            document.getElementById('train-details').style.display = 'none';
            document.getElementById('subway-details').style.display = 'none';
            document.getElementById('motorbike-details').style.display = 'none';
            document.getElementById('boat-details').style.display = 'none';
        }
    });
</script>

{% endblock %}
