{% extends "base.html" %}
{% load static %}

{% block title %}Calculate Pollution{% endblock %}

{% block content %}
    <div class="trip-form-container">
        <div class="card mt-5 trip-form-card">
            <div class="card-body">
                <h2 class="card-title text-center">Trip Form</h2>
                <form class="trip-form" action="{% url 'calculate' %}" method="POST" id="trip-form">
                    {% csrf_token %}
                    <label for="transport_type">Transport Type:</label><br>
                    <select name="transport_type" id="transport_type">
                        <option value="plane" selected>Plane</option>
                        <option value="car">Car</option>
                        <option value="train">Train</option>
                        <option value="subway">Subway</option>
                        <option value="motorbike">Motorbike</option>
                        <option value="boat">Boat</option>
                    </select><br><br>

                    <div id="flight-details">
                        <label for="departure_point">Departure Airport (IATA code):</label><br>
                        <input type="text" id="departure" name="departure_point"><br><br>

                        <label for="arrival_point">Arrival Airport (IATA code):</label><br>
                        <input type="text" id="arrival" name="arrival_point"><br><br>

                        <label for="passengers">Number of Passengers:</label><br>
                        <input type="number" id="passengers" name="passengers"><br><br>
                    </div>

                    <div id="car-details" style="display:none;">
                        <label for="departure_point">Departure Point:</label><br>
                        <input type="text" id="dep" name="departure_point"><br><br>

                        <label for="arrival_point">Arrival Point:</label><br>
                        <input type="text" id="arrival_point" name="arrival_point"><br><br>

                        <label for="distance">Distance Travelled (in kilometers):</label><br>
                        <input type="number" id="distance" name="distance"><br><br>

                        <label for="passengers">Number of Passengers:</label><br>
                        <input type="number" id="passenger" name="passengers"><br><br>
                    </div>

                    <div id="train-details" style="display:none;">
                        <label for="departure_point">Departure Station:</label><br>
                        <input type="text" id="depart" name="departure_point"><br><br>

                        <label for="arrival_point">Arrival Station:</label><br>
                        <input type="text" id="arr" name="arrival_point"><br><br>

                        <label for="departure_time">Departure Time:</label><br>
                        <input type="time" id="departure_time" name="departure_time"><br><br>

                        <label for="arrival_time">Arrival Time:</label><br>
                        <input type="time" id="arrival_time" name="arrival_time"><br><br>

                        <label for="passengers">Number of Passengers:</label><br>
                        <input type="number" id="pass" name="passengers"><br><br>
                    </div>

                    <div id="subway-details" style="display:none;">
                        <label for="departure_point">Departure Station:</label><br>
                        <input type="text" id="depar" name="departure_point"><br><br>

                        <label for="arrival_point">Arrival Station:</label><br>
                        <input type="text" id="arrival_p" name="arrival_point"><br><br>

                        <label for="passengers">Number of Passengers:</label><br>
                        <input type="number" id="passeng" name="passengers"><br><br>
                    </div>

                    <div id="motorbike-details" style="display:none;">
                        <label for="distance">Distance Travelled (in kilometers):</label><br>
                        <input type="number" id="dist" name="distance"><br><br>

                        <label for="passengers">Number of Passengers:</label><br>
                        <input type="number" id="p" name="passengers"><br><br>
                    </div>

                    <div id="boat-details" style="display:none;">
                        <label for="departure_point">Departure Port:</label><br>
                        <input type="text" id="departure_point" name="departure_point"><br><br>

                        <label for="arrival_point">Arrival Port:</label><br>
                        <input type="text" id="a_p" name="arrival_point"><br><br>

                        <label for="passengers">Number of Passengers:</label><br>
                        <input type="number" id="pssg" name="passengers"><br><br>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </form>
            </div>
            <div id="result-container-plain" class="mt-4"></div>
            <div id="save-button-container" class="text-center" style="display:none;">
                <a id="saveTrip" href="../results" class="btn btn-primary">Save Trip</a>
            </div>
        </div>
    </div>

    <!------------------------------------ JavaScript ------------------------------------------------------------------>
    <script>
        function setDefaultForm() {
            document.getElementById('flight-details').style.display = 'block';
            document.getElementById('car-details').style.display = 'none';
            document.getElementById('train-details').style.display = 'none';
            document.getElementById('subway-details').style.display = 'none';
            document.getElementById('motorbike-details').style.display = 'none';
            document.getElementById('boat-details').style.display = 'none';
        }

        window.onload = setDefaultForm;

        document.getElementById('transport_type').addEventListener('change', function () {
            var transportType = this.value;
            if (transportType === 'plane') {
                document.getElementById('flight-details').style.display = 'block';
                document.getElementById('car-details').style.display = 'none';
                document.getElementById('train-details').style.display = 'none';
                document.getElementById('subway-details').style.display = 'none';
                document.getElementById('motorbike-details').style.display = 'none';
                document.getElementById('boat-details').style.display = 'none';
            } else if (transportType === 'car') {
                document.getElementById('flight-details').style.display = 'none';
                document.getElementById('car-details').style.display = 'block';
                document.getElementById('train-details').style.display = 'none';
                document.getElementById('subway-details').style.display = 'none';
                document.getElementById('motorbike-details').style.display = 'none';
                document.getElementById('boat-details').style.display = 'none';
            } else if (transportType === 'train') {
                document.getElementById('flight-details').style.display = 'none';
                document.getElementById('car-details').style.display = 'none';
                document.getElementById('train-details').style.display = 'block';
                document.getElementById('subway-details').style.display = 'none';
                document.getElementById('motorbike-details').style.display = 'none';
                document.getElementById('boat-details').style.display = 'none';
            } else if (transportType === 'subway') {
                document.getElementById('flight-details').style.display = 'none';
                document.getElementById('car-details').style.display = 'none';
                document.getElementById('train-details').style.display = 'none';
                document.getElementById('subway-details').style.display = 'block';
                document.getElementById('motorbike-details').style.display = 'none';
                document.getElementById('boat-details').style.display = 'none';
            } else if (transportType === 'motorbike') {
                document.getElementById('flight-details').style.display = 'none';
                document.getElementById('car-details').style.display = 'none';
                document.getElementById('train-details').style.display = 'none';
                document.getElementById('subway-details').style.display = 'none';
                document.getElementById('motorbike-details').style.display = 'block';
                document.getElementById('boat-details').style.display = 'none';
            } else if (transportType === 'boat') {
                document.getElementById('flight-details').style.display = 'none';
                document.getElementById('car-details').style.display = 'none';
                document.getElementById('train-details').style.display = 'none';
                document.getElementById('subway-details').style.display = 'none';
                document.getElementById('motorbike-details').style.display = 'none';
                document.getElementById('boat-details').style.display = 'block';
            } else {
                document.getElementById('flight-details').style.display = 'none';
                document.getElementById('car-details').style.display = 'none';
                document.getElementById('train-details').style.display = 'none';
                document.getElementById('subway-details').style.display = 'none';
                document.getElementById('motorbike-details').style.display = 'none';
                document.getElementById('boat-details').style.display = 'none';
            }
        });

        <!---------------------------------------------------- Plain -------------------------------------------------------------->
        document.getElementById('trip-form').addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);
            var requestData = {
                "type": "flight",
                "passengers": formData.get("passengers"),
                "legs": [
                    {
                        "departure_airport": formData.get("departure_point"),
                        "destination_airport": formData.get("arrival_point")
                    },
                ]
            };

            fetch("https://www.carboninterface.com/api/v1/estimates", {
                method: "POST",
                headers: {
                    "Authorization": "Bearer Kjd6ggkR8x8KkftIe3SPQ",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(requestData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const resultContainer = document.getElementById('result-container-plain');
                    resultContainer.innerHTML = `<p>CO2 emissions: ${data.data.attributes.carbon_g} grams</p>`;

                    document.getElementById('save-button-container').style.display = 'block';

                    //document.getElementById('hidden-transport-type').value = transportType;
                    //document.getElementById('hidden-passengers').value = formData.get("passengers");
                    //document.getElementById('hidden-departure-point').value = formData.get("departure_point");
                    //document.getElementById('hidden-arrival-point').value = formData.get("arrival_point");
                    //document.getElementById('hidden-carbon-emission').value = data.data.attributes.carbon_g;
                    localStorage.setItem('transportType', "flight"); // Assuming transportType is always "flight" in this context
                    localStorage.setItem('passengers', formData.get("passengers"));
                    localStorage.setItem('departurePoint', formData.get("departure_point"));
                    localStorage.setItem('arrivalPoint', formData.get("arrival_point"));
                    localStorage.setItem('carbonEmission', data.data.attributes.carbon_g);
                    window.location.pathname = "results";

                })
                .catch(error => {
                    console.error("Error:", error);
                });
        });

        <!---------------------------------------------------- Car -------------------------------------------------------------->
        document.getElementById('trip-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita el envío del formulario por defecto

            // Recoger los datos del formulario
            var formData = new FormData(this);
            var departurePoint = formData.get("departure_point");
            var arrivalPoint = formData.get("arrival_point");
            var distanceTravelled = parseInt(formData.get("distance_travelled")); //
            var numberOfPassengers = parseInt(formData.get("passengers"));

            // suponiendo que un coche emite 120 gramos de CO2 por kilómetro
            var emissionPerKm = 120;
            var totalEmission = emissionPerKm * distanceTravelled * numberOfPassengers;

            // Mostrar el resultado en la página
            document.getElementById('result').innerText = `La polución total del viaje en coche desde ${departurePoint} a ${arrivalPoint} es de ${totalEmission} gramos de CO2.`;
        });


        <!---------------------------------------------------- Train -------------------------------------------------------------->


        document.getElementById('trip-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita el envío del formulario por defecto

            // Recoger los datos del formulario
            var formData = new FormData(this);
            var departureStation = formData.get("departure_point");
            var arrivalStation = formData.get("arrival_point");
            var numberOfPassengers = parseInt(formData.get("passengers"));

            //  distancia entre estaciones. Para simplificar, utilizamos datos fijos.
            var distances = {
                'StationA-StationB': 100, // distancia en kilómetros
                'StationA-StationC': 200,
                'StationB-StationC': 150
            };

            // Crear la clave para buscar la distancia en el objeto distances
            var distanceKey = `${departureStation}-${arrivalStation}`;
            var distance = distances[distanceKey] || 0;

            // Verificar si se encontró la distancia
            if (distance === 0) {
                document.getElementById('result').innerText = 'Distancia desconocida entre las estaciones proporcionadas.';
                return;
            }

            // suponiendo que el tren emite 50 gramos de CO2 por pasajero por kilómetro
            var emissionPerPassengerPerKm = 50; // gramos de CO2
            var totalEmission = emissionPerPassengerPerKm * distance * numberOfPassengers;

            // Mostrar el resultado en la página
            document.getElementById('result').innerText = `La polución total del viaje es de ${totalEmission} gramos de CO2.`;
        });

        <!---------------------------------------------------- Subway -------------------------------------------------------------->

        document.getElementById('trip-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita el envío del formulario por defecto

            // Recoger los datos del formulario
            var formData = new FormData(this);
            var departureStation = formData.get("departure_point");
            var arrivalStation = formData.get("arrival_point");
            var numberOfPassengers = parseInt(formData.get("passengers"));

            //  distancia entre estaciones. Para simplificar, utilizamos datos fijos.
            var distances = {
                'Station1-Station2': 5,
                'Station1-Station3': 10,
                'Station2-Station3': 7
            };

            // Crear la clave para buscar la distancia en el objeto distances
            var distanceKey = `${departureStation}-${arrivalStation}`;
            var distance = distances[distanceKey] || 0;

            // Verificar si se encontró la distancia
            if (distance === 0) {
                document.getElementById('result').innerText = 'Distancia desconocida entre las estaciones proporcionadas.';
                return;
            }

            //  suponiendo que el metro emite 30 gramos de CO2 por pasajero por kilómetro
            var emissionPerPassengerPerKm = 30;
            var totalEmission = emissionPerPassengerPerKm * distance * numberOfPassengers;

            // Mostrar el resultado en la página
            document.getElementById('result').innerText = `La polución total del viaje es de ${totalEmission} gramos de CO2.`;
        });

        <!---------------------------------------------------- Motorbike -------------------------------------------------------------->

        document.getElementById('trip-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita el envío del formulario por defecto

            // Recoger los datos del formulario
            var formData = new FormData(this);
            var distanceTravelled = parseFloat(formData.get("distance"));
            var numberOfPassengers = parseInt(formData.get("passengers"));

            //  suponiendo que la motocicleta emite 100 gramos de CO2 por pasajero por kilómetro
            var emissionPerPassengerPerKm = 100;
            var totalEmission = emissionPerPassengerPerKm * distanceTravelled * numberOfPassengers;

            // Mostrar el resultado en la página
            document.getElementById('result').innerText = `La polución total del viaje es de ${totalEmission} gramos de CO2.`;

        });

        <!---------------------------------------------------- Boat -------------------------------------------------------------->

        document.getElementById('trip-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita el envío del formulario por defecto

            // Recoger los datos del formulario
            var formData = new FormData(this);
            var departurePort = formData.get("departure_port");
            var arrivalPort = formData.get("arrival_port");
            var numberOfPassengers = parseInt(formData.get("passengers"));

            //  distancia entre puertos. Para simplificar, utilizamos datos fijos.
            var distances = {
                'Port1-Port2': 50, // distancia en kilómetros
                'Port1-Port3': 120,
                'Port2-Port3': 90
            };

            // Crear la clave para buscar la distancia en el objeto distances
            var distanceKey = `${departurePort}-${arrivalPort}`;
            var distance = distances[distanceKey] || 0;

            // Verificar si se encontró la distancia
            if (distance === 0) {
                document.getElementById('result').innerText = 'Distancia desconocida entre las estaciones proporcionadas.';
                return;
            }

            //  suponiendo que el barco emite 250 gramos de CO2 por pasajero por kilómetro
            var emissionPerPassengerPerKm = 250; // gramos de CO2
            var totalEmission = emissionPerPassengerPerKm * distance * numberOfPassengers;

            // Mostrar el resultado en la página
            document.getElementById('result').innerText = `La polución total del viaje es de ${totalEmission} gramos de CO2.`;
        });


    </script>

{% endblock %}