{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="login-container">
        <div class="card mt-5 login-card">
            <div class="card-body">
                <h2 class="card-title text-center">Error Calculating Pollution</h2>
                <p class="text-center">We encountered an issue while trying to calculate the pollution for your trip. Please try again later or contact support if the problem persists.</p>
            </div>
        </div>
    </div>
{% endblock %}
